//====================================================================================================

.footer {
    background-color: $mainColorYelow;
    display: flex;
    justify-content: center;

    // .footer__container
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }
}
.container-footer {
    //.container-footer__top
    &__top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:$tablet){
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 30px;
        }

        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
        @include adaptiveValue("padding-right", 95, 35);
        @include adaptiveValue("padding-left", 95, 35);
    }

    // .container-footer__btn
    &__btn {
        margin: 20px 0;
    }

    // .container-footer__bottom
    &__bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:$tablet){
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 30px;
        }

        border-bottom: 1px solid #FFFFFF;

        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

        @include adaptiveValue("padding-right", 95, 35);
        @include adaptiveValue("padding-left", 95, 35);
    }

    // .container-footer__title
    &__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

        margin: 20px 0;
    }

    // .container-footer__tel
    &__tel {
        margin: 20px 0;
    }

    // .container-footer__href
    &__href {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    // .container-footer__youtube
    &__youtube {
    }

    // .container-footer__vk
    &__vk {
        @include adaptiveValue("margin-left", 35, 15);
        @include adaptiveValue("margin-right", 35, 15);
    }

    // .container-footer__facebook
    &__facebook {
    }

    // .contaner-footer__site
    &__site {
        margin: 20px 0;
        border-right: 0;
    }

    // .contaner-footer__line
    &__line {
        @media (min-width:$tablet){
            content: '';
            height: 100%;
            width: 1px;
            background-color: #FFFFFF;
        }
    }
}

//====================================================================================================
